@tailwind base;
@tailwind components;
@tailwind utilities;


/*Declaracion de fuentes locales*/
@font-face {
  font-family: 'Open Sans-Bold';
  src: url('../public/assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans-Italic';
  src: url('../public/assets/fonts/OpenSans-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans-Medium';
  src: url('../public/assets/fonts/OpenSans-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
body {
  width: 100vw;
  height: 100vh;
  block-size: border-box;
  margin: 0;
  font-family: "Open Sans",'Open Sans-Bold','Open Sans-Italic','Open Sans-Medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  width: 100vw;
  height: 100vh;
  overflow-x:hidden;
}

/*Uso de fuentes*/
.openBold{
  font-family: 'Open Sans-Bold';
}
.openItalic{
  font-family: 'Open Sans-Italic';
}
.openMedium{
  font-family: 'Open Sans-Medium';
}

.bg-resize{
  background-size: 50% 50%;
}

/*Interaccion de secciones*/
.section{
  opacity: 0%;
  transition: opacity 0.5s;
}

.section:hover{
  opacity: 100%;
  transition: opacity 2s;

}

.landingBg{
  background-size: 100% auto;
  background-repeat: no-repeat;
}

