@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open Sans-Bold';
  src: url('../public/assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans-Italic';
  src: url('../public/assets/fonts/OpenSans-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans-Medium';
  src: url('../public/assets/fonts/OpenSans-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
body {
  width: 100vw;
  height: 100vh;
  block-size: border-box;
  margin: 0;
  font-family: 'Open Sans-Bold','Open Sans-Italic','Open Sans-Medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  width: 100vw;
  height: 100vh;
  overflow-x:hidden;
}

.openBold{
  font-family: 'Open Sans-Bold';
}
.openItalic{
  font-family: 'Open Sans-Italic';
}
.openMedium{
  font-family: 'Open Sans-Medium';
}
